{% extends "accounts/layout.html" %}
{% load static %}

{% block css_extra %}
	<link rel="stylesheet" href="{% static 'css/login.css' %}" />
{% endblock %}

{% block content %}
<div class="login-body">
	<div class="form-signin mt-5 mb-5 pb-5">
		<div class="text-center mb-5">
			<h1 class="h3 mt-5 fw-normal">Sign in</h1>
			<a href="{% url 'signup' %}">Sign up</a>
		</div>
		<form method="POST" action=".">
			{% csrf_token %}
			<div>
				{% include '_form_input.html' %}
			</div>
			<div class="mb-4"></div>
			<button class="w-100 btn btn-lg btn-primary" type="submit">Sign in</button>
			<p class="mt-5 mb-3 text-muted text-center">&copy; 2017–2021</p>
		</form>
	</div>
</div>
{% endblock %}