<div class="modal fade" id="changePassword" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="changePasswordLabel" aria-hidden="true">
	<div class="modal-dialog modal-dialog-scrollable">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="changePasswordLabel">비밀번호 변경</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
					v-on:click="closeModal"></button>
			</div>
			<div class="modal-body">
				<form class="change_password_form" action="{% url 'change_password' %}">
					{% csrf_token %}
					<div class="mb-3">
						<input type="password" name="old_password" 
							autocomplete="current-password" placeholder="이전 비밀번호" 
							required="required" id="id_old_password" class="form-control"
							v-model="change_password.old_password">
						<div class="invalid-feedback" style="display:block;"></div>
					</div>
					<div class="mb-3">
						<input type="password" name="new_password1" 
							autocomplete="current-password" placeholder="새 비밀번호" 
							required="required" id="id_new_password1" class="form-control"
							v-model="change_password.new_password1">
						<div class="invalid-feedback" style="display:block;"></div>
						{% if change_password_form.new_password1.help_text %}
							<small class="text-muted">
								{{ change_password_form.new_password1.help_text }}
							</small>
						{% endif %}
					</div>
					<div class="mb-3">
						<input type="password" name="new_password2" 
							autocomplete="current-password" placeholder="새 비밀번호 (확인)" 
							required="required" id="id_new_password2" class="form-control"
							v-model="change_password.new_password2">
						<div class="invalid-feedback" style="display:block;"></div>
					</div>
					<button type="submit"
						class="d-none real-change-password-btn"
						v-on:click="realChangePassword">
						비밀번호 변경
					</button>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-primary"
					v-on:click="changePassword">
					비밀번호 변경
				</button>
			</div>
		</div>
	</div>
</div>